<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <% include header.ejs%>
  <body>
    <h1><%= title %></h1>
    
    <%for(i in fruit){%>
    <p>Welcome to <%= i %></p>
    <%}%>
    <% if(title === 'ejs'){%>
      <p>ejs 공부합시다</p>
    <%}else{%>
      <p>pug 공부합시다</p>
    <%}%>
  </body>
  <% include footer.ejs%>
</html>
